<%= render 'shared/header' %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-4">
        <h1 class="display-3">Hello, Slack</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/searchform' %>
<br>
<%= render 'shared/footer' %>