@import "bootstrap";

.jumbotron {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(person-845325_1920.jpg);
	background-size: cover;
	// 背景画像の位置を決める
	background-position: 50% 50%;
	height: 420px;
}

.jumbotron .container .row {
    color: #fff;
}

.jumbotron .container .row .display-3 {
 	margin-top: 200px;
}

.navbar {
    background: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar .navbar-nav {	    
	a:link { color: black; }
	a:visited { color: black; }
	a:hover { color: grey; }
	a:active { color: black; }
	font-size: 13px;
}

.navbar .navbar-brand {	
	a:link { color: black; }
	a:visited { color: black; }
	a:hover { color: grey; }
	a:active { color: black; }
	font-size: 20px;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
